<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIV_Nexus_Progress.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FFXIV_Nexus_Progress.My.MySettings>
            <setting name="SpiritBondOffset" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="InventoryAddress" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>17019680</int>
                        <int>0</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="EquippedWeaponIDOffset" serializeAs="String">
                <value>6536</value>
            </setting>
            <setting name="NexusIDStart" serializeAs="String">
                <value>7863</value>
            </setting>
            <setting name="NexusNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Curtana</string>
                        <string>Sphairai</string>
                        <string>Bravura</string>
                        <string>Gae Bolg</string>
                        <string>Artemis Bow</string>
                        <string>Thyrus</string>
                        <string>Stardust Rod</string>
                        <string>Veil Of Wiyu</string>
                        <string>Omnilex</string>
                        <string>Holy Shield</string>
                        <string>Yoshimitsu</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="EquippedShieldIDOffset" serializeAs="String">
                <value>6600</value>
            </setting>
            <setting name="NexusTiers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>No</string>
                        <string>Indistinct</string>
                        <string>Faint</string>
                        <string>Slight</string>
                        <string>Modest</string>
                        <string>Distinct</string>
                        <string>Robust</string>
                        <string>Vigorous</string>
                        <string>Intense</string>
                        <string>Extreme</string>
                        <string>Bursting</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="NinjaID" serializeAs="String">
                <value>9253</value>
            </setting>
        </FFXIV_Nexus_Progress.My.MySettings>
    </userSettings>
</configuration>